POSTGRES_USER=aggregator
POSTGRES_PASSWORD=change-me
DATABASE_USER=aggregator
DATABASE_PASSWORD=change-me
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=nestserver
MINIO_ROOT_USER=aggregator
MINIO_ROOT_PASSWORD=change-me
MINIO_ACCESS_KEY=aggregator
MINIO_SECRET_KEY=change-me
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_PROTOCOL=http://
MINIO_PUBLIC_URL=http://localhost:8083/files
JWT_KEY=change-me
ADMIN_PASSWORD=change-me
DEMO_LOGIN_ENABLED=false
